@import 'bootstrap';



:root {
    --verde_scurissimo: #001a23;
    --verde_scuro: #31493c;
    --verde_medio: #7a9e7e;
    --verde_chiaro: #b3efb2;
    --bianco_sfondo: #e8f1f2;
    --rosso_ciliegia: #DE0722;
}

body {

    background-color: var(--bianco_sfondo);
}

h1,
h2,
h3 {
    font-family: "Cormorant Garamond", serif;
}

h4,
h5 {
    font-family: "Cormorant Garamond", serif;
    letter-spacing: 0.5px;
    /* Migliora la leggibilità sui titoli piccoli */
    text-transform: uppercase;
    /* Spesso il Cormorant sta benissimo tutto in maiuscolo per i sottotitoli */
}

p {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

.scritta_verde_scuro {

    color: var(--verde_scuro);
}

.scritta_rossa {

    color: var(--rosso_ciliegia);
}

/* INIZIO NAVBAR */

.navbar {
    position: sticky;
    top: 0;
    z-index: 1020;
    width: 100%;

    background-color: transparent;
}

.icona_navbar {
    width: 6rem;
    height: 8rem;
}

.navbar-nav .nav-link {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 1.1rem;
    border-bottom: 1px solid transparent;
    margin: 0 5px;
    color: var(--verde_scuro);
}

.navbar-nav .nav-link:hover {
    transition: 0.5;
    color: var(--rosso_ciliegia);
    border-bottom: 1px solid var(--rosso_ciliegia);
}

.btn-prenota {
    background-color: var(--rosso_ciliegia);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 1px;
    padding: 0.8rem 1.5rem;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(222, 7, 34, 0.2);
}

.btn-prenota:hover {
    background-color: var(--bianco_sfondo);
    border: 1px solid var(--rosso_ciliegia);
    color: var(--rosso_ciliegia);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}



/* FINE NAVBAR */



/* INIZIO HOMEPAGE */




/* FINE HOMEPAGE */



@media (min-width: 992px) {
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        /* Rimuove lo spazio che potrebbe far chiudere il menu mentre ti sposti */
        animation: fadeIn 0.3s;
        /* Opzionale: aggiunge una piccola animazione fluida */
    }

    /* Rende il menu un po' più fluido nella comparsa */
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}